body{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.title{
    /* width: 5vh; */
}

h1{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #e7adb8;
}

section{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-around;
}

.gameArea{
    width: 65%;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
}

#gameboard{
    background-color: white;
    width: 500px;
    height: 500px;
    /* margin: 0 auto; */
    padding: 0 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

#player1,#player2{
    width: 17%;
    text-align: center;
    font-size: 2em;
}

.tile{
    width:  30%;
    height: 33%;
    border: 3px solid white;
    background-color: #82718d;
    border-radius: 5%;
    display: inline-block;
    font-size: 18vh;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #e7adb8;
    vertical-align: top;
}

.tile:hover{
    cursor: pointer;
}

.currentPlayer{
    color: #66c3b3;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;  
    font-style: unset;
}

.otherPlayer{
    color: #d3d3d3;
}

.button-container > *{
    display: inline-block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: auto;
    /* width: 40%;
    height: 15%; */

}

.startGame{
    display: flex;
    justify-content: center;
}

.dropbtn {
    background-color: #e7adb8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #e7adb8;;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .boardSize {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    background-color: #e896a5;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #e896a5;
    cursor: pointer;
}

.reset{
    background-color: #e7adb8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

#start{
    background-color: #62c4b3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.reset:hover{
    cursor: pointer;
    background-color: #e896a5;
}

#start:hover{
    cursor: pointer;
    background-color: #26ad94;
}

.hide{
    display: none;
}